<head>

    <script>
        const save_black_url = "{{url_for('profile.save_black')}}"
        const get_black_url = "{{url_for('profile.get_black')}}"
    </script>

    <script defer src="{{url_for('static', filename='black_list_manage.js')}}"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='food_manage_style.css')}}">

</head>

{% extends 'base.html' %}


{% block header %}

<h1>{% block title %}黑名單管理{% endblock %}</h1>

{% endblock %}






{% block content %}

<div class="container" id="container">


</div>


<button class="button-secondary pure-button" id="add">新增黑名單</button>
<button class="button-success pure-button" id="save">儲存變更</button>

<a style="float: right;" class="button-warning pure-button" href="{{ url_for('profile.manage_food') }}">管理食物</a>




{% endblock %}