<head>

    <script>
        const save_food_url = "{{url_for('profile.save_food')}}"
        const get_food_url = "{{url_for('profile.get_food')}}"
    </script>

    <script defer src="{{url_for('static', filename='food_manage.js')}}"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='food_manage_style.css')}}">

</head>

{% extends 'base.html' %}


{% block header %}

<h1>{% block title %}食物管理{% endblock %}</h1>

{% endblock %}






{% block content %}
<p>
    早：5~10；
    午：10~16；
    晚：16~22；
    宵：22~24, 0~5；
    台灣時間
</p>
<p>
    夏：7月~10月； 冬：12, 1月～4月
</p>
<p>隱藏卡片不會加入搜尋</p>
<p>編輯完畢記得按下儲存變更</p>


<div class="container" id="container">


</div>


<button class="button-secondary pure-button" id="add">新增卡片</button>
<button class="button-success pure-button" id="save">儲存變更</button>

<a style="float: right;" class="button-error pure-button" href="{{ url_for('restaurant.user_input') }}">回到地圖</a>
<a style="float: right;" class="button-warning pure-button" href="{{ url_for('profile.black_list') }}">管理黑名單</a>






{% endblock %}