<head>

    <script>
        const save_food_url = "{{url_for('profile.save_food')}}"
        const get_food_url = "{{url_for('profile.get_food')}}"
    </script>

    <script defer src="{{url_for('static', filename='food_manage.js')}}"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='food_manage_style.css')}}">

</head>

{% extends 'base.html' %}


{% block header %}

<h1>{% block title %}食物管理{% endblock %}</h1>

{% endblock %}






{% block content %}

<div class="container" id="container">


</div>


<button class="button-secondary pure-button" id="add">新增卡片</button>
<button class="button-success pure-button" id="save">儲存變更</button>

<a style="float: right;" class="button-warning pure-button" href="{{ url_for('profile.black_list') }}">管理黑名單</a>




{% endblock %}