{% extends 'base.html' %}


{% block header %}

<h1>{% block title %}基本資料{% endblock %}</h1>

{% endblock %}


{% block content %}


<form class="pure-form pure-form-stacked" method="post">



    <fieldset>

        <label for="stacked-gender">性別</label>
        <select name="stacked-gender" id="stacked-gender" required>
            <option>男</option>
            <option>女</option>
            <option>不想說</option>
        </select>
        <label for="stacked-birthday">生日</label>
        <input type="date" name="stacked-date" id="stacked-date" required />

        <button type="submit" class="pure-button pure-button-primary">確認</button>
    </fieldset>

</form>




{% endblock %}