.container {
    display: flex;
    overflow: scroll;
    border-radius: 25px;
    border: 2px solid black;
    margin: 20;
    padding: 20px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8);
    min-width: 14em;
    width: max-content;
    margin: 10;
    text-align: center;
    border-radius: 25px;
    border: 2px solid #73AD21;
    padding: 20px;
}

.disabled {
    background-color: lightgray;
}



.container input[type='checkbox'] {
    margin: 6;

}

.container div div {
    margin: 10;
}

.container div button {
    margin: 10;
}