<head>
    <script>

        var myLocation = { lat: 25.04625, lng: 121.51753 };

        {%if session['parameters'] %}

        let lat = {{ session['parameters']['location']['lat'] }};
        let lng = {{ session['parameters']['location']['lng'] }};

        myLocation = { lat: lat, lng: lng };

        {% endif %}

        let radius = 500;

        const user_input_url = "{{ url_for('restaurant.user_input') }}";
    </script>

    <script defer src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script defer src="{{url_for('static', filename='map.js')}}"></script>

    <script defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAd5FeE-Wb0Bc9r2uHPZngmVuOIi1cYJT8&callback=initMap&v=weekly&language=ZH-TW"></script>


    <script defer src="{{url_for('static', filename='parameters.js')}}"></script>

</head>


{% extends 'base.html' %}

{% block content %}

<p></p>



<div id="map"></div>



<p></p>



<button style="float: right;" class="pure-button pure-button-primary" id="postButton">抽抽！
</button>



<p></p>

<div id="otherParams">
    <i class="fa-solid fa-dollar-sign"></i>
    <input type="checkbox" id="cheap" checked>
    <label for="cheap">便宜</label>
    <input type="checkbox" id="expensive">
    <label for="expensive">貴</label>
</div>
<div class="division">
    <i class="fa-solid fa-store"></i>
    <input type="checkbox" id="open">
    <label for="open">現在開門</label>
</div>
<div class="division">
    <i class="fa-solid fa-star"></i>
    <input id="star" type="range" min="2.5" max="4" value="3" step="0.1" /> <output id="starOutput"></output>星以上
</div>

</div>

<form class="pure-form" id="directSearch">
    <fieldset>
        <i class="fa-solid fa-magnifying-glass"></i>
        <input type="keyword" id="manual" placeholder="直接搜尋" />
    </fieldset>
</form>



{% endblock %}