<head>
    <script>
        let login = false;
        {% if session['user_id'] %}
        login = true;
        {% endif %}

        let myLocation;
        let radius = 500;

        const user_input_url = "{{ url_for('restaurant.user_input') }}";
    </script>

    <script defer src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script defer src="{{url_for('static', filename='map.js')}}"></script>

    <script defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAd5FeE-Wb0Bc9r2uHPZngmVuOIi1cYJT8&callback=initMap&v=weekly&language=ZH-TW"></script>


    <script defer src="{{url_for('static', filename='parameters.js')}}"></script>

</head>


{% extends 'base.html' %}


{% block header %}

<h1>{% block title %}
    {% if not session['user_id'] %}
    訪客模式
    {% else %}
    登入模式
    {% endif %}
    {% endblock %}</h1>

{% endblock %}


{% block content %}
<p>請在地圖上釘選想搜尋的地點</p>
{% if not session['user_id'] %}
<p>登入後有更多功能</p>
{%else %}
<p>可以在地圖上調控搜尋範圍</p>
<p>其他參數可以調整價格、人數、星等</p>
<p>當按下<span>抽抽</span>，會自動至卡片池隨機抽選一個類別做搜尋</p>
<p>也可以使用進階搜尋直接找尋想要的類別</p>
{% endif %}

<p></p>



<div id="map"></div>


<p></p>


<button class="pure-button" id="otherParamsBtn">其他參數</button>
<button class="pure-button" id="directSearchBtn">直接搜尋</button>


<button class="pure-button pure-button-primary" id="postButton">抽抽！
</button>



<form class="pure-form" id="directSearch">
    <fieldset>
        <input type="keyword" id="manual" placeholder="想搜尋的類別" />
    </fieldset>
</form>

<p></p>

<div id="otherParams">
    <div class="division">
        <i class="fa-solid fa-coins "></i>
        <input type="checkbox" id="cheap" checked>
        <label for="cheap">便宜的</label>
        <input type="checkbox" id="expensive">
        <label for="expensive">貴的</label>
    </div>
    <div class="division">
        <i class="fa-solid fa-people-group"></i>
        <input type="checkbox" id="singlepeople" checked>
        <label for="singlepeople">自己吃</label>
        <input type="checkbox" id="manypeople">
        <label for="manypeople">多人吃</label>
    </div>

    <div class="division">
        <i class="fa-solid fa-store"></i>
        <input type="checkbox" id="open">
        <label for="open">現在開門</label>
    </div>
    <div class="division">
        <i class="fa-solid fa-star"></i>
        <input id="star" type="range" min="3" max="4.5" value="3.5" step="0.1" /> <output id="starOutput"></output>星以上
    </div>
</div>


{% endblock %}